# Build folder for the project
target/

# Git and configuration files
.git/
.gitignore

# Docker files
Dockerfile
.dockerignore

# Environment files
.env
.env.*

# Documentation files
*.md
*.txt
README*
LICENSE*

# IDE and editor files
*.swp
*.swo
*.bak
*.tmp
*.log
*.DS_Store
.vscode/
.idea/

# Other files
*.tar.gz
*.rs.bk
