# Server configuration
PORT=3001

# Database configuration
# [localhost] without Docker # <service_name> if using docker-compose
DB_HOST=host.docker.internal
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
# docker-compose only
VOLUME_NAME=my_pg_volume
